<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <h2><center> TinyApp </center></h2>
  <form method="post" action="/login">
    Email:
    <input type="email" name="email">
    <br> Password:
    <input type="password" name="password">
    <button type="submit">Submit</button>
  </form>
   <br><a href="/register">Not a user? Please register.</a>
</body>
</html>