<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <h2><center> TinyApp </center></h2>
  <form method="post" action="/register">
    Email:
    <input type="text" name="email">
    <br>
  <form method="post" action="/register">
    Password:
    <input type="text" name="password">
    <button type="submit">Submit</button>

  </form>
</body>

</html>