<h1><center> TINY APP </center></h1>


<form method = "POST" action= "/register">
    Email <input type = 'email' name = 'email'>  <br>
    Password <input type = 'password' name = 'password'>  <br>
    <br>
    <input type = 'submit' value = 'Register'>
</form>