<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TinyApp</title>
</head>

<body>

    <header>
        <% include ./partials/_header %>
    </header>
    <ul>
        <% for (short_url in urls) { %>
            <li>
            <%= short_url %> - <%= urls[short_url] %>
            <form name="deleteurl" method="POST" action="/urls/<%=[short_url]%>/delete">
                <input type="submit" value="Delete">
            </form>
            </li>
        <% }; %>
        </ul>
        <a href="http://localhost:8080/urls/new">Shorten your url</a>
</body>
</html>